@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFang-TC-Regular-2.otf") format("opentype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "SF Pro Text", "PingFang", sans-serif;
  line-height: 1.5;
}

i {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: #000;
}

input {
  color: #8d8d8d;
  border-radius: 4px;
  outline: none;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-82 {
  padding-top: 82px;
  padding-bottom: 82px;
}

.py-92 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-94 {
  padding-top: 94px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-58 {
  margin-bottom: 58px;
}

.mb-80 {
  margin-bottom: 80px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-11 {
  margin-right: 11px;
}

@media (max-width: 768px) {
  .pb-md-106 {
    padding-bottom: 106px;
  }
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-md-8 {
    padding-top: 8px;
  }
  .pt-md-28 {
    padding-top: 28px;
  }
  .pt-md-32 {
    padding-top: 32px;
  }
  .pt-md-42 {
    padding-top: 42px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pb-md-36 {
    padding-bottom: 36px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .mt-md-8 {
    margin-top: 8px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .mb-md-28 {
    margin-bottom: 28px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .mb-md-40 {
    margin-bottom: 40px;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .ml-md-6 {
    margin-left: 6px;
  }
  .ml-md-23 {
    margin-left: 23px;
  }
}

.fz-12 {
  font-size: 12px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-28 {
  font-size: 28px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-40 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .fz-md-20 {
    font-size: 20px;
  }
  .fz-md-24 {
    font-size: 24px;
  }
  .fz-md-28 {
    font-size: 28px;
  }
  .fz-md-30 {
    font-size: 30px;
  }
  .fz-md-32 {
    font-size: 32px;
  }
  .fz-md-40 {
    font-size: 40px;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.sale {
  color: #8d8d8d;
  text-decoration: line-through;
}

.price {
  display: inline-block;
}

.bg-lightgray {
  background: #e0e0e0;
}

.bg-darkgray {
  background: #707070;
}

.bg-brown {
  background: #916000;
}

.nav li a {
  text-align: center;
}

.nav li a:hover {
  border-bottom: 4px solid #8d8d8d;
  padding-bottom: 6px;
}

.nav li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav li a span {
  line-height: 24px;
  color: #8d8d8d;
}

.nav-mobile li {
  position: relative;
}

.nav-mobile li a {
  width: 72px;
}

.nav-mobile li a:hover {
  border-bottom: 4px solid #8d8d8d;
  margin-bottom: -4px;
}

.nav-mobile li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav-mobile li a span {
  width: 16px;
  position: absolute;
  right: 19px;
  top: 2px;
  line-height: 14px;
  color: #fff;
  background: #916000;
  border-radius: 8px;
  text-align: center;
}

.dropdown {
  max-height: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  overflow: hidden;
  width: 100%;
}

.dropdown-active {
  max-height: 0;
}

@media (max-width: 768px) {
  .dropdown-active {
    max-height: 280px;
  }
}

.dropdown li a {
  text-align: center;
  color: #fff;
  border-bottom: 1px solid #fff;
}

.dropdown li a:hover {
  background: #a3a3a3;
}

.brand-bar-list a {
  color: #fff;
}

.brand-bar-list a:hover {
  background: #ac8a46;
}

.foot-banner {
  background: url("../images/index10.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.foot-banner .container {
  height: 100%;
}

@media (max-width: 768px) {
  .foot-banner .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-banner .container p {
  color: #8d8d8d;
}

.input-email {
  color: #8d8d8d;
  width: 219px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #916000;
  margin-right: -1px;
  outline: none;
}

.submit {
  color: #fff;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0;
  background: #916000;
  cursor: pointer;
}

.submit:hover {
  background: #5e3e00;
  border-color: #5e3e00;
}

.footer-container {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-container .logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-container ul li a {
  color: #fff;
  border-radius: 5px;
}

.footer-container ul li a:hover {
  background: #c48200;
}

.banner {
  height: 870px;
  background: url("../images/index1.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .banner {
    height: 480px;
  }
}

.banner .container {
  height: 100%;
}

.banner .slogen {
  color: #fff;
  width: 445px;
}

@media (max-width: 768px) {
  .banner .slogen {
    width: 345px;
    margin: 0 auto;
  }
}

.banner .slogen h2 {
  white-space: nowrap;
}

.banner .btn {
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
}

.banner .btn:hover {
  background: rgba(255, 255, 255, 0.2);
}

.intro-img {
  padding-top: 50%;
  width: 50%;
}

@media (max-width: 768px) {
  .intro-img {
    padding-top: 100%;
    width: 100%;
  }
}

.intro1 {
  background: url("../images/index2.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro2 {
  background: url("../images/index3.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro3 {
  background: url("../images/index4.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.intro4 {
  background: url("../images/index5.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
}

@media (max-width: 768px) {
  .intro4 {
    padding-top: 200%;
  }
}

.content {
  width: 50%;
}

@media (max-width: 768px) {
  .content {
    width: 100%;
  }
}

.content-container {
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}

.content-container .btn {
  text-align: center;
  border: 2px solid #000;
  color: #000;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
}

.content-container .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .content-container .btn {
    width: 100%;
  }
}

.more {
  color: #ac8a46;
}

.more:hover {
  font-weight: bold;
}

.sold-out {
  background: rgba(141, 141, 141, 0.5);
  height: 100%;
  color: #fff;
  text-align: center;
}

.promote-item {
  height: 540px;
}

.promote-item a {
  width: 100%;
  height: 100%;
}

.promote-item a:hover {
  border: 2px solid #916000;
  -webkit-box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
          box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
}

@media (max-width: 768px) {
  .promote-item {
    background-size: 100% 100%;
  }
}

.promote-item1 {
  background: url("../images/index6.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promote-item2 {
  background: url("../images/index7.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.promote-item3 {
  background: url("../images/index8.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-lightgray-container li {
  width: 31.5%;
}

@media (max-width: 768px) {
  .bg-lightgray-container li {
    width: 100%;
  }
}

.recycle-img {
  background: url("../images/index9.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 65.77%;
}

@media (max-width: 768px) {
  .recycle-img {
    width: 100%;
    height: 520px;
  }
}

.recycle-content {
  width: 31.5%;
}

@media (max-width: 768px) {
  .recycle-content {
    width: 100%;
  }
}

.product-list li {
  max-width: 24%;
}

@media (max-width: 768px) {
  .product-list li {
    max-width: 44%;
  }
}

.add-fav .fa-heart {
  padding: 2px;
  color: #916000;
}

.add-fav .fa-heart:hover {
  color: #5e3e00;
}

.add-cart .fa-shopping-cart {
  padding: 2px;
  color: #916000;
}

.add-cart .fa-shopping-cart:hover {
  color: #5e3e00;
}

.item .item-img {
  height: 255px;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.item:hover {
  border: 2px solid #916000;
  margin: -2px;
  margin-bottom: 1px;
}

.page:hover {
  color: #ac8a46;
  border-bottom: 2px solid #ac8a46;
}

.active-page {
  border-bottom: 2px solid #ac8a46;
}

.login-banner {
  background: url("../images/login1.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 50%;
  width: 65.8%;
}

@media (max-width: 768px) {
  .login-banner {
    width: 100%;
  }
}

.login {
  width: 31.53%;
}

@media (max-width: 768px) {
  .login {
    width: 100%;
  }
}

.account,
.password {
  width: 100%;
  line-height: 19px;
  color: #818a91;
  border: 1px solid #818a91;
}

.signin-btn,
.login-btn {
  color: #916000;
  border: 1px solid #916000;
  padding: 8px 16px;
  cursor: pointer;
}

.signin-btn:hover,
.login-btn:hover {
  color: #fff;
  background: #916000;
}

.product-imgs {
  width: 65.77%;
}

@media (max-width: 768px) {
  .product-imgs {
    width: 100%;
  }
}

.product-imgs .product-img2 {
  width: 47.94%;
}

@media (max-width: 768px) {
  .product-imgs .product-img2 {
    width: 100%;
  }
}

.product-imgs .product-img3 {
  width: 47.94%;
}

@media (max-width: 768px) {
  .product-imgs .product-img3 {
    width: 100%;
  }
}

.product-info {
  width: 31.53%;
}

@media (max-width: 768px) {
  .product-info {
    width: 100%;
  }
}

.product-info .num {
  width: 54.3%;
  border: 1px solid #916000;
}

.product-info .add-cart-btn {
  color: #fff;
  text-align: center;
  width: 45.7%;
  border: 1px solid #916000;
  cursor: pointer;
}

.product-info a:hover {
  color: #5e3e00;
}

.product-info a:hover i {
  color: #5e3e00;
}
/*# sourceMappingURL=all.css.map */