@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFang-TC-Regular-2.otf") format("opentype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "SF Pro Text", "PingFang", sans-serif;
}

.nav-icon {
  fill: #8d8d8d;
}

.header {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 0;
}

@media (max-width: 768px) {
  .header {
    max-width: 92%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav li a {
  padding: 10px 30px;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li a:hover {
  border-bottom: 4px solid #8d8d8d;
  margin-bottom: -4px;
}

.nav li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav li a span {
  display: block;
  line-height: 24px;
  white-space: nowrap;
  color: #8d8d8d;
}

.nav-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-mobile li {
    position: relative;
  }
  .nav-mobile li a {
    width: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7px 0;
  }
  .nav-mobile li a:hover {
    border-bottom: 4px solid #8d8d8d;
    margin-bottom: -4px;
  }
  .nav-mobile li a i {
    width: 24px;
    color: #8d8d8d;
    margin: 3px;
  }
  .nav-mobile li a span {
    width: 16px;
    position: absolute;
    right: 19px;
    top: 2px;
    font-size: 12px;
    line-height: 14px;
    display: block;
    color: #fff;
    background: #916000;
    border-radius: 8px;
    text-align: center;
  }
}

.banner {
  background: url("../images/index1.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .banner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.banner .slogen {
  color: #fff;
  width: 445px;
  padding-top: 26.78%;
  padding-bottom: 26.78%;
  margin-right: 21.09%;
}

@media (max-width: 768px) {
  .banner .slogen {
    width: 345px;
    margin: 0 auto;
  }
}

.banner .slogen h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .banner .slogen h2 {
    font-size: 32px;
    line-height: 48px;
  }
}

.banner .slogen p {
  font-size: 24px;
  line-height: 36px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  .banner .slogen p {
    font-size: 20px;
    line-height: 30px;
  }
}

.banner .slogen a {
  display: inline-block;
  font-size: 40px;
  padding: 10px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
}

.banner .slogen a:hover {
  background: rgba(255, 255, 255, 0.2);
}

@media (max-width: 768px) {
  .banner .slogen a {
    font-size: 28px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row:nth-child(2n + 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 768px) {
  .row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .row:nth-child(2n + 1) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.intro {
  padding: 60px 0;
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .intro {
    max-width: 92%;
  }
}

.intro .row .intro1 {
  height: 555px;
  width: 50%;
  background: url("../images/index2.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro .row .intro1 {
    width: 100%;
  }
}

.intro .row .intro2 {
  height: 555px;
  width: 50%;
  background: url("../images/index3.png") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro .row .intro2 {
    width: 100%;
  }
}

.intro .row .intro3 {
  height: 555px;
  width: 50%;
  height: same-as-width;
  background: url("../images/index4.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

@media (max-width: 768px) {
  .intro .row .intro3 {
    width: 100%;
  }
}

.intro .row .intro4 {
  width: 50%;
  background: url("../images/index5.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .intro .row .intro4 {
    width: 100%;
    height: 680px;
  }
}

.intro .row .content {
  width: 50%;
}

@media (max-width: 768px) {
  .intro .row .content {
    width: 100%;
  }
}

.content-container {
  width: 350px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .content-container {
    width: 100%;
  }
}

.content-container h2 {
  font-size: 30px;
  line-height: 48px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-container h2 {
    font-size: 32px;
    margin-top: 8px;
  }
}

.content-container p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .content-container p {
    margin-bottom: 8px;
  }
}

.content-container .more {
  color: #ac8a46;
  line-height: 24px;
}

.content-container .more:hover {
  font-weight: bold;
}

@media (max-width: 768px) {
  .content-container .more {
    margin-bottom: 32px;
  }
}

.row4 .content-container {
  padding-top: 92px;
  padding-bottom: 92px;
}

@media (max-width: 768px) {
  .row4 .content-container {
    padding-top: 8px;
    padding-bottom: 40px;
  }
}

.row4 .content-container p {
  margin-bottom: 52px;
}

@media (max-width: 768px) {
  .row4 .content-container p {
    margin-bottom: 20px;
  }
}

.row4 .content-container h3 {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
}

.row4 .content-container .btn {
  display: block;
  text-align: center;
  border: 2px solid #000;
  color: #000;
  padding: 10px;
  border-radius: 30px;
  width: 350px;
}

.row4 .content-container .btn:hover {
  background: rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .row4 .content-container .btn {
    text-align: center;
    border: 2px solid #000;
    color: #000;
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    font-size: 20px;
  }
  .row4 .content-container .btn:hover {
    background: rgba(0, 0, 0, 0.2);
  }
}

.bg-gray {
  background: #e0e0e0;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .bg-gray {
    padding-top: 32px;
    padding-bottom: 36px;
  }
}

.bg-gray-container {
  margin: 0 auto;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 768px) {
  .bg-gray-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 92%;
  }
}

.bg-gray-container li {
  width: 31.5%;
}

@media (max-width: 768px) {
  .bg-gray-container li {
    width: 100%;
  }
}

.bg-gray-container li .item1 {
  height: 540px;
  background: url("../images/index6.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gray-container li .item1 a {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-gray-container li .item1 a:hover {
  border: 2px solid #916000;
  -webkit-box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
          box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
}

.bg-gray-container li .item1 a .sold-out {
  background: rgba(141, 141, 141, 0.5);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  display: none;
}

@media (max-width: 768px) {
  .bg-gray-container li .item1 {
    background-size: 100% 100%;
    margin-bottom: 4px;
  }
}

.bg-gray-container li .item2 {
  height: 540px;
  background: url("../images/index7.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gray-container li .item2 a {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-gray-container li .item2 a:hover {
  border: 2px solid #916000;
  -webkit-box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
          box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
}

.bg-gray-container li .item2 a .sold-out {
  background: rgba(141, 141, 141, 0.5);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  display: none;
}

@media (max-width: 768px) {
  .bg-gray-container li .item2 {
    background-size: 100% 100%;
    margin-bottom: 4px;
  }
}

.bg-gray-container li .item3 {
  height: 540px;
  background: url("../images/index8.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-gray-container li .item3 a {
  width: 100%;
  height: 100%;
  display: block;
}

.bg-gray-container li .item3 a:hover {
  border: 2px solid #916000;
  -webkit-box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
          box-shadow: 10px 10px 10px rgba(141, 141, 141, 0.7);
}

.bg-gray-container li .item3 a .sold-out {
  background: rgba(141, 141, 141, 0.5);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

@media (max-width: 768px) {
  .bg-gray-container li .item3 a {
    background-size: 100% 100%;
    margin-bottom: 4px;
  }
}

.bg-gray-container li h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 36px;
}

.bg-gray-container li .brand {
  line-height: 24px;
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .bg-gray-container li .brand {
    margin-bottom: 4px;
  }
}

.bg-gray-container li .price {
  display: inline-block;
}

.bg-gray-container li .cancel-price {
  color: #8d8d8d;
  text-decoration: line-through;
  line-height: 24px;
  padding-left: 8px;
}

@media (max-width: 768px) {
  .bg-gray-container li .cancel-price {
    padding-left: 6px;
  }
}

.recycle {
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .recycle {
    max-width: 92%;
  }
}

.recycle .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.recycle .row .recycle-img {
  background: url("../images/index9.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 65.77%;
}

@media (max-width: 768px) {
  .recycle .row .recycle-img {
    width: 100%;
    height: 520px;
  }
}

.recycle .row .content {
  width: 31.5%;
}

@media (max-width: 768px) {
  .recycle .row .content {
    width: 100%;
  }
}

.recycle .row .content .content-container {
  padding-top: 82px;
  padding-bottom: 82px;
}

@media (max-width: 768px) {
  .recycle .row .content .content-container {
    padding-top: 8px;
    padding-bottom: 40px;
  }
}

.foot-banner {
  background: url("../images/index10.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 312px;
  padding-bottom: 112px;
  margin: 0 auto;
}

.foot-banner-container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .foot-banner-container {
    max-width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-banner-container p {
  color: #8d8d8d;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.input-email {
  color: #8d8d8d;
  width: 219px;
  border-radius: 4px 0 0 4px;
  padding: 21px 16px;
  border: 2px solid #916000;
  outline: none;
}

.submit {
  color: #fff;
  padding: 21px 26px;
  border-radius: 0 4px 4px 0;
  background: #916000;
  cursor: pointer;
}

.submit:hover {
  background: #c48200;
}

.footer {
  background: #916000;
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 92%;
    display: block;
  }
}

.footer-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logo p {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .footer-container .logo p {
    margin-left: 23px;
  }
}

@media (max-width: 768px) {
  .footer-container .logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .logo a {
    display: block;
  }
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container ul li a {
  padding: 10px 18px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
}

.footer-container ul li a:hover {
  background: #c48200;
}

@media (max-width: 768px) {
  .footer-container ul {
    display: none;
  }
}
/*# sourceMappingURL=all.css.map */