@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFang-TC-Regular-2.otf") format("opentype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "SF Pro Text", "PingFang", sans-serif;
  line-height: 1.5;
}

i {
  text-align: center;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

a {
  color: #000;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 768px) {
  .d-md-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .d-md-block {
    display: block;
  }
  .d-md-none {
    display: none;
  }
  .flex-md-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flex-md-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.flex-row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.px-18 {
  padding-left: 18px;
  padding-right: 18px;
}

.px-26 {
  padding-left: 26px;
  padding-right: 26px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.py-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.py-82 {
  padding-top: 82px;
  padding-bottom: 82px;
}

.py-92 {
  padding-top: 92px;
  padding-bottom: 92px;
}

.pt-94 {
  padding-top: 94px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-60 {
  padding-bottom: 60px;
}

.mt-20 {
  margin-top: 20px;
}

.mb-3 {
  margin-bottom: 3px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-52 {
  margin-bottom: 52px;
}

.mb-58 {
  margin-bottom: 58px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-20 {
  margin-left: 20px;
}

.mr-11 {
  margin-right: 11px;
}

@media (max-width: 768px) {
  .py-md-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .py-md-0 {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pt-md-8 {
    padding-top: 8px;
  }
  .pt-md-32 {
    padding-top: 32px;
  }
  .pt-md-42 {
    padding-top: 42px;
  }
  .pb-md-32 {
    padding-bottom: 32px;
  }
  .pb-md-36 {
    padding-bottom: 36px;
  }
  .pb-md-40 {
    padding-bottom: 40px;
  }
  .mt-md-8 {
    margin-top: 8px;
  }
  .mb-md-4 {
    margin-bottom: 4px;
  }
  .mb-md-8 {
    margin-bottom: 8px;
  }
  .mb-md-20 {
    margin-bottom: 20px;
  }
  .mb-md-32 {
    margin-bottom: 32px;
  }
  .mr-md-0 {
    margin-right: 0;
  }
  .ml-md-6 {
    margin-left: 6px;
  }
  .ml-md-23 {
    margin-left: 23px;
  }
}

.fz-12 {
  font-size: 12px;
}

.fz-20 {
  font-size: 20px;
}

.fz-24 {
  font-size: 24px;
}

.fz-30 {
  font-size: 30px;
}

.fz-32 {
  font-size: 32px;
}

.fz-40 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .fz-md-20 {
    font-size: 20px;
  }
  .fz-md-24 {
    font-size: 24px;
  }
  .fz-md-28 {
    font-size: 28px;
  }
  .fz-md-30 {
    font-size: 30px;
  }
  .fz-md-32 {
    font-size: 32px;
  }
  .fz-md-40 {
    font-size: 40px;
  }
}

.font-weight-bold {
  font-weight: bold;
}

.nav-icon {
  fill: #8d8d8d;
}

.nav li a {
  text-align: center;
}

.nav li a:hover {
  border-bottom: 4px solid #8d8d8d;
  padding-bottom: 6px;
}

.nav li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav li a span {
  line-height: 24px;
  color: #8d8d8d;
}

.nav-mobile li {
  position: relative;
}

.nav-mobile li a {
  width: 72px;
}

.nav-mobile li a:hover {
  border-bottom: 4px solid #8d8d8d;
  margin-bottom: -4px;
}

.nav-mobile li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav-mobile li a span {
  width: 16px;
  position: absolute;
  right: 19px;
  top: 2px;
  line-height: 14px;
  color: #fff;
  background: #916000;
  border-radius: 8px;
  text-align: center;
}

.brand-bar {
  background: #916000;
}

.brand-bar .brand-bar-list a {
  color: #fff;
}

.brand-bar .brand-bar-list a:hover {
  background: #ac8a46;
}

.product-list li {
  max-width: 24%;
}

@media (max-width: 768px) {
  .product-list li {
    max-width: 44%;
  }
}

.product-list .fa-heart,
.product-list .fa-shopping-cart {
  padding: 2px;
  color: #916000;
}

.product-list .fa-heart:hover,
.product-list .fa-shopping-cart:hover {
  color: #5e3e00;
}

.item .item-img {
  height: 255px;
  width: 255px;
  -o-object-fit: cover;
     object-fit: cover;
}

.item .sale {
  display: inline-block;
  color: #8d8d8d;
  text-decoration: line-through;
}

.item:hover {
  border: 2px solid #916000;
  margin: -2px;
  margin-bottom: 1px;
}

.price {
  display: inline-block;
}

.page:hover {
  color: #ac8a46;
  border-bottom: 2px solid #ac8a46;
}

.active-page {
  border-bottom: 2px solid #ac8a46;
}

.foot-banner {
  background: url("../images/index10.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
}

.foot-banner .container {
  height: 100%;
}

@media (max-width: 768px) {
  .foot-banner .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-banner .container p {
  color: #8d8d8d;
}

.input-email {
  color: #8d8d8d;
  width: 219px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #916000;
  outline: none;
}

.submit {
  color: #fff;
  border: 2px solid #916000;
  border-radius: 0 4px 4px 0;
  background: #916000;
  cursor: pointer;
}

.submit:hover {
  background: #c48200;
}

.footer {
  background: #916000;
}

.footer-container {
  color: #fff;
}

@media (max-width: 768px) {
  .footer-container .logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer-container ul li a {
  color: #fff;
  border-radius: 5px;
}

.footer-container ul li a:hover {
  background: #c48200;
}
/*# sourceMappingURL=productPage.css.map */