@font-face {
  font-family: "SF Pro Text";
  src: url("../fonts/SF-Pro-Text-Regular.otf") format("opentype");
}

@font-face {
  font-family: "PingFang";
  src: url("../fonts/PingFang-TC-Regular-2.otf") format("opentype");
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "SF Pro Text", "PingFang";
}

.nav-icon {
  fill: #8d8d8d;
}

.header {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 9px 0;
}

@media (max-width: 768px) {
  .header {
    max-width: 92%;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .nav {
    display: none;
  }
}

.nav li a {
  padding: 10px 30px;
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav li a:hover {
  border-bottom: 4px solid #8d8d8d;
  margin-bottom: -4px;
}

.nav li a i {
  width: 24px;
  color: #8d8d8d;
  margin: 3px;
}

.nav li a span {
  display: block;
  line-height: 24px;
  white-space: nowrap;
  color: #8d8d8d;
}

.nav-mobile {
  display: none;
}

@media (max-width: 768px) {
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-mobile li {
    position: relative;
  }
  .nav-mobile li a {
    width: 72px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 7px 0;
  }
  .nav-mobile li a:hover {
    border-bottom: 4px solid #8d8d8d;
    margin-bottom: -4px;
  }
  .nav-mobile li a i {
    width: 24px;
    color: #8d8d8d;
    margin: 3px;
  }
  .nav-mobile li a span {
    width: 16px;
    position: absolute;
    right: 19px;
    top: 2px;
    font-size: 12px;
    line-height: 14px;
    display: block;
    color: #fff;
    background: #916000;
    border-radius: 8px;
    text-align: center;
  }
}

.brand-bar {
  background: #916000;
}

.brand-bar .brand-bar-list {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand-bar .brand-bar-list a {
  display: block;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  padding: 14px;
}

.brand-bar .brand-bar-list a:hover {
  background: #ac8a46;
}

@media (max-width: 768px) {
  .brand-bar {
    display: none;
  }
}

.product {
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 60px;
}

@media (max-width: 768px) {
  .product {
    padding-top: 5px;
    max-width: 92%;
  }
}

.product-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

@media (max-width: 768px) {
  .product-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-right: 0;
  }
}

.product-list li {
  max-width: 255px;
  margin-bottom: 58px;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .product-list li {
    width: 50%;
    margin-right: 0px;
  }
}

.product-list li .item {
  display: block;
  margin-bottom: 3px;
}

.product-list li .item div {
  max-height: 255px;
  max-width: 255px;
  overflow: hidden;
}

.product-list li .item div .item-img {
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.product-list li .item h3 {
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.product-list li .item p {
  line-height: 24px;
  color: #000;
}

.product-list li .item span {
  display: none;
}

.product-list li .item .sale {
  display: inline-block;
  color: #8d8d8d;
  text-decoration: line-through;
  margin-left: 8px;
}

.product-list li .item:hover {
  border: 2px solid #916000;
  margin: -2px;
  margin-bottom: 1px;
}

.product-list li .item:hover div {
  -webkit-box-shadow: 5px 5px 10px #8d8d8d;
          box-shadow: 5px 5px 10px #8d8d8d;
}

.product-list .fa-heart {
  padding: 2px;
  font-size: 20px;
  text-align: center;
  color: #916000;
  margin-right: 11px;
}

.product-list .fa-heart:hover {
  color: #5e3e00;
}

.product-list .fa-shopping-cart {
  padding: 2px;
  font-size: 20px;
  text-align: center;
  color: #916000;
}

.product-list .fa-shopping-cart:hover {
  color: #5e3e00;
}

.price {
  display: inline-block;
}

.pages {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pages .page {
  display: block;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  padding: 0 10px;
}

.pages .page:hover {
  color: #ac8a46;
  border-bottom: 2px solid #ac8a46;
}

.pages .active-page {
  border-bottom: 2px solid #ac8a46;
}

.foot-banner {
  background: url("../images/index10.jpg") center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 312px;
  padding-bottom: 112px;
  margin: 0 auto;
}

.foot-banner-container {
  max-width: 1110px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .foot-banner-container {
    max-width: 92%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.foot-banner-container p {
  color: #8d8d8d;
  font-size: 32px;
  line-height: 48px;
  font-weight: bold;
}

.input-email {
  color: #8d8d8d;
  width: 219px;
  border-radius: 4px 0 0 4px;
  padding: 21px 16px;
  border: 2px solid #916000;
  outline: none;
}

.submit {
  color: #fff;
  padding: 21px 26px;
  border-radius: 0 4px 4px 0;
  background: #916000;
  cursor: pointer;
}

.submit:hover {
  background: #c48200;
}

.footer {
  background: #916000;
}

.footer-container {
  max-width: 1110px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  color: #fff;
}

@media (max-width: 768px) {
  .footer-container {
    max-width: 92%;
    display: block;
  }
}

.footer-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-container .logo p {
  margin-left: 20px;
}

@media (max-width: 768px) {
  .footer-container .logo p {
    margin-left: 23px;
  }
}

@media (max-width: 768px) {
  .footer-container .logo {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-container .logo a {
    display: block;
  }
}

.footer-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-container ul li a {
  padding: 10px 18px;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  border-radius: 5px;
}

.footer-container ul li a:hover {
  background: #c48200;
}

@media (max-width: 768px) {
  .footer-container ul {
    display: none;
  }
}
/*# sourceMappingURL=productPage.css.map */