.foot-banner {
    @include background-img("../images/index10.jpg");
    height: 600px;
    .container {
        height: 100%;
        @include pad {
            align-items: center;
        }
        p {
            color: $gray;
        }
    }
}
.input-email {
    color: $gray;
    width: 219px;
    border-radius: 4px 0 0 4px;
    border: 2px solid $brown;
    outline: none;
}
.submit {
    color: #fff;
    border: 2px solid $brown;
    border-radius: 0 4px 4px 0;
    background: $brown;
    cursor: pointer;
    &:hover {
        background: lighten($brown, 10%);
    }
}
