.footer {
    background: $brown;
}
.footer-container {
    color: #fff;
    .logo {
        @include pad {
            justify-content: space-between;
        }
    }

    ul {
        li a {
            color: #fff;
            border-radius: 5px;
            &:hover {
                background: lighten($brown, 10%);
            }
        }
    }
}
