.foot-banner {
    @include background-img("../images/index10.jpg");
    padding-top: 312px;
    padding-bottom: 112px;
    margin: 0 auto;
}
.foot-banner-container {
    max-width: 1110px;
    margin: 0 auto;
    @include pad {
        max-width: 92%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    p {
        color: $gray;
        font-size: 32px;
        line-height: 48px;
        font-weight: bold;
    }
}
.input-email {
    color: $gray;
    width: 219px;
    border-radius: 4px 0 0 4px;
    padding: 21px 16px;
    border: 2px solid $brown;
    outline: none;
}
.submit {
    color: #fff;
    padding: 21px 26px;
    border-radius: 0 4px 4px 0;
    background: $brown;
    cursor: pointer;
    &:hover {
        background: lighten($brown, 10%);
    }
}
