.banner {
    @include background-img("../images/index1.jpg");
    display: flex;
    justify-content: flex-end;
    @include pad {
        justify-content: center;
    }
    .slogen {
        color: #fff;
        width: 445px;
        padding-top: 26.78%;
        padding-bottom: 26.78%;
        margin-right: 21.09%;
        @include pad {
            width: 345px;
            margin: 0 auto;
        }
        h2 {
            font-size: 40px;
            font-weight: bold;
            line-height: 60px;
            white-space: nowrap;
            @include pad {
                font-size: 32px;
                line-height: 48px;
            }
        }
        p {
            font-size: 24px;
            line-height: 36px;
            padding-bottom: 16px;
            @include pad {
                font-size: 20px;
                line-height: 30px;
            }
        }
        a {
            display: inline-block;
            font-size: 40px;
            padding: 10px;
            @include btn-style(350px, #fff);
            @include pad {
                font-size: 28px;
            }
        }
    }
}

//content style
.row {
    display: flex;
    .content {
        display: flex;
        align-items: center;
    }
    &:nth-child(2n + 1) {
        flex-direction: row-reverse;
    }
    @include pad {
        &:nth-child(2n + 1) {
            flex-direction: row;
        }
        flex-wrap: wrap;
    }
}

.intro {
    padding: 60px 0;
    max-width: 1110px;
    @include pad {
        max-width: 92%;
    }
    margin: 0 auto;
    .row {
        .intro1 {
            height: 555px;
            width: 50%;
            @include pad {
                width: 100%;
            }
            @include background-img("../images/index2.jpg");
        }
        .intro2 {
            height: 555px;
            width: 50%;
            @include pad {
                width: 100%;
            }
            @include background-img("../images/index3.png");
        }
        .intro3 {
            height: 555px;
            width: 50%;
            height: same-as-width;
            @include pad {
                width: 100%;
            }
            @include background-img("../images/index4.jpg");
            background-position: left;
        }
        .intro4 {
            width: 50%;
            @include pad {
                width: 100%;
                height: 680px;
            }
            @include background-img("../images/index5.jpg");
        }
        .content {
            width: 50%;
            @include pad {
                width: 100%;
            }
        }
    }
}

.content-container {
    width: 350px;
    margin: 0 auto;
    @include pad {
        width: 100%;
    }
    h2 {
        font-size: 30px;
        line-height: 48px;
        font-weight: bold;
        @include pad {
            font-size: 32px;
            margin-top: 8px;
        }
    }
    p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
        @include pad {
            margin-bottom: 8px;
        }
    }
    .more {
        @include more;
        @include pad {
            margin-bottom: 32px;
        }
    }
}

.row4 {
    .content-container {
        padding-top: 92px;
        padding-bottom: 92px;
        @include pad {
            padding-top: 8px;
            padding-bottom: 40px;
        }
        p {
            margin-bottom: 52px;
            @include pad {
                margin-bottom: 20px;
            }
        }

        h3 {
            font-weight: bold;
            font-size: 24px;
            line-height: 36px;
            margin-bottom: 4px;
        }
        .btn {
            display: block;
            @include btn-style(350px, #000);
            @include pad {
                @include btn-style(100%, #000);
                font-size: 20px;
            }
        }
    }
}

.bg-gray {
    background: $lightgray;
    padding-top: 40px;
    padding-bottom: 40px;
    @include pad {
        padding-top: 32px;
        padding-bottom: 36px;
    }
}
.bg-gray-container {
    margin: 0 auto;
    max-width: 1110px;
    display: flex;
    justify-content: space-between;
    @include pad {
        flex-direction: column;
        max-width: 92%;
    }
    li {
        width: 31.5%;
        @include pad {
            width: 100%;
        }
        .item1 {
            height: 540px;
            @include background-img("../images/index6.jpg");
            a {
                width: 100%;
                height: 100%;
                display: block;
                &:hover {
                    border: 2px solid $brown;
                    box-shadow: 10px 10px 10px rgba($gray, 0.7);
                }
                .sold-out {
                    @include sold-out();
                    display: none;
                }
            }
            @include pad {
                background-size: 100% 100%;
                margin-bottom: 4px;
            }
        }
        .item2 {
            height: 540px;
            @include background-img("../images/index7.jpg");
            a {
                width: 100%;
                height: 100%;
                display: block;
                &:hover {
                    border: 2px solid $brown;
                    box-shadow: 10px 10px 10px rgba($gray, 0.7);
                }
                .sold-out {
                    @include sold-out();
                    display: none;
                }
            }
            @include pad {
                background-size: 100% 100%;
                margin-bottom: 4px;
            }
        }
        .item3 {
            height: 540px;
            @include background-img("../images/index8.jpg");
            a {
                width: 100%;
                height: 100%;
                display: block;
                &:hover {
                    border: 2px solid $brown;
                    box-shadow: 10px 10px 10px rgba($gray, 0.7);
                }
                .sold-out {
                    @include sold-out();
                }
                @include pad {
                    background-size: 100% 100%;
                    margin-bottom: 4px;
                }
            }
        }
        h3 {
            font-size: 24px;
            font-weight: bold;
            line-height: 36px;
        }
        .brand {
            line-height: 24px;
            margin-bottom: 16px;
            @include pad {
                margin-bottom: 4px;
            }
        }
        .price {
            display: inline-block;
        }
        .cancel-price {
            color: $gray;
            text-decoration: line-through;
            line-height: 24px;
            padding-left: 8px;
            @include pad {
                padding-left: 6px;
            }
        }
    }
}

.recycle {
    padding-top: 60px;
    padding-bottom: 60px;
    max-width: 1110px;
    margin: 0 auto;
    @include pad {
        max-width: 92%;
    }
    .row {
        justify-content: space-between;
        flex-direction: row;
        .recycle-img {
            @include background-img("../images/index9.jpg");
            width: 65.77%;
            @include pad {
                width: 100%;
                height: 520px;
            }
        }
        .content {
            width: 31.5%;
            @include pad {
                width: 100%;
            }
            .content-container {
                padding-top: 82px;
                padding-bottom: 82px;
                @include pad {
                    padding-top: 8px;
                    padding-bottom: 40px;
                }
            }
        }
    }
}
