.product {
    max-width: 1110px;
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 60px;
    @include pad {
        padding-top: 5px;
        max-width: 92%;
    }
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    @include pad {
        justify-content: space-between;
        margin-right: 0;
    }
    li {
        max-width: 255px;
        margin-bottom: 58px;
        margin-left: 30px;
        @include pad {
            width: 50%;
            margin-right: 0px;
        }
        .item {
            display: block;

            div {
                max-height: 255px;
                max-width: 255px;
                overflow: hidden;
                .item-img {
                    margin-top: 50%;
                    transform: translateY(-50%);
                }
            }

            h3 {
                color: #000;
                font-weight: bold;
                font-size: 24px;
                line-height: 36px;
            }
            p {
                line-height: 24px;
                color: #000;
            }
            span {
                display: none;
            }
            .sale {
                display: inline-block;
                color: $gray;
                text-decoration: line-through;
                margin-left: 8px;
            }
            &:hover {
                div {
                    box-shadow: 5px 5px 10px $gray;
                }

                border: 2px solid $brown;
                margin: -2px;
            }
        }
    }
}

.price {
    display: inline-block;
}

.add-fav {
    display: inline-block;
    margin-right: 11px;
    &:hover {
        border: 2px solid $brown;
        margin: -2px;
        margin-right: 9px;
    }
}
.add-cart {
    display: inline-block;
    &:hover {
        border: 2px solid $brown;
        margin: -2px;
    }
}

.pages {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    .page {
        display: block;
        color: #000;
        font-size: 20px;
        line-height: 30px;
        padding: 0 10px;
        &:hover {
            color: $lightbrown;
            border-bottom: 2px solid $lightbrown;
        }
    }
    .active-page {
        border-bottom: 2px solid $lightbrown;
    }
}
