.product-list {
    li {
        max-width: 24%;
        @include pad {
            max-width: 44%;
        }
    }
    .fa-heart,
    .fa-shopping-cart {
        padding: 2px;
        color: $brown;
        &:hover {
            color: darken($brown, 10%);
        }
    }
}

.item {
    .item-img {
        height: 255px;
        width: 255px;
        object-fit: cover;
    }
    .sale {
        display: inline-block;
        color: $gray;
        text-decoration: line-through;
    }
    &:hover {
        border: 2px solid $brown;
        margin: -2px;
        margin-bottom: 1px;
    }
}

.price {
    display: inline-block;
}

.page {
    &:hover {
        color: $lightbrown;
        border-bottom: 2px solid $lightbrown;
    }
}
.active-page {
    border-bottom: 2px solid $lightbrown;
}
